RPi.GPIO
adafruit-circuitpython-ssd1306
Pillow
paho-mqtt
psutil
opencv-python
mediapipe-rpi3
bcrypt
pyotp
numpy>=1.19.0
pandas>=1.1.0
matplotlib>=3.3.0
seaborn>=0.11.0
scipy>=1.5.0
scikit-learn>=0.23.0
tabulate>=0.8.7
tqdm>=4.47.0